@charset "UTF-8";

// colors
$mainColor: #333;
$pointColor: #00AAD2;
$pointBlue: #003469;
$hover-gray: #888;

$pcWidth: 1280px;

//media query
$breakpoint-mobile: 279px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;